.containerActivity {
  height: 70vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--clr-content-passive);
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary-thin);
  opacity: 40;
}

/* This part is to remove the checkbox in front of each activity by using opacity on it */
.containerActivity input {
  opacity: 0;
  width: 0;
  height: 0;
}
.doneActivity {
  text-decoration: line-through solid 2px var(--clr-primary);
}

/* Fragen:
- wie bewege ich die graue Box (containerActivity), sodass sie unten rechts ist?
- "Rand" umd die activities
- nur Hintergrundfarbe heller machen
*/
