<div class="containerActivity">
  <div class="doneActivity">
    <input type="checkbox" id="appointment" name="activity" />
    <label for="appointment">Book appointment with Jared</label>
  </div>

  <div>
    <input type="checkbox" id="shot" name="activity" />
    <label for="shot">Upload today shot on Dribble</label>
  </div>

  <div>
    <input type="checkbox" id="elephant" name="activity" />
    <label for="elephant">Complete the Elephant Illustration</label>
  </div>

  <div>
    <input type="checkbox" id="cake" name="activity" />
    <label for="cake">Buy Cake for Clair's Birthday</label>
  </div>

  <div>
    <input type="checkbox" id="conference" name="activity" />
    <label for="conference">Attend UX Conference with Jared next week</label>
  </div>
</div>
