.form {
  display: grid;
  grid-template-columns: 2.25rem / 1fr;
  grid-template-rows: repeat(3, 1fr);
  width: 31.25rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__form-control {
  display: flex;
  flex-direction: column;
}

.radiocontainer {
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  grid-area: 2/2/3/3;
}
