<form>
  <label for="Enter Task">Enter Task </label>
  <input type="text" id="task" />

  <fieldset>
    <legend>When</legend>
    <div class="radios">
      <input type="radio" value="Today" id="Today" />
      <label for="Today">Today</label>
    </div>
    <div class="radios">
      <input type="radio" value="Tomorrow" id="Tomorrow" />
      <label for="Tomorrow">Tomorrow</label>
    </div>
    <div class="radios">
      <input type="radio" value="Select Date" id="Select Date" />
      <label for="Select">Select Date</label>
    </div>
  </fieldset>

  <button class="submitbtn">Add task</button>
</form>
