@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@500;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
  --primary: #fe4775;
  --secondary: #161060;
  --text-primary: #393939;
  --text-secondary: #111;
  --content-passive: #d4d4d4;
  --fw-primary: 500;
  --fw-primary-bold: 900;
  --fw-secondary: 600;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-primary);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--ff-primary);
}
