@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
  --primary: #fe4775;
  --secondary: #161060;
  --text-primary: #393939;
  --text-secondary: #111;
  --content-passive: #d4d4d4;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
